<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="ibrahim Ayman">
    <!--<script type="text/css" src="../public/stylesheets/bootstrap.css"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<% include ./partials/navbar.ejs %>

<%- body %>

<% include ./partials/footer.ejs %>

<script>
    window.Tether = {};
</script>

<script src="../public/javascripts/jquery-1.10.2.min.js"></script>
<script src="../public/javascripts/bootstrap.js"></script>
</body>
</html>